<!-- FILEPATH: /home/sultonxon/Desktop/TechnicalTask/VacationWeb/VacationWeb/src/app/components/register/register.component.html -->
<div >

  <form>
    <div class="form-container">
      <label for="firstName">First Name:</label>
      <input class="form-input" type="text" id="firstName" name="firstName" [(ngModel)]="registerModel.firstName" required>
    </div>
    <div class="form-container">
      <label for="lastName">Last Name:</label>
      <input class="form-input" type="text" id="lastName" name="lastName" [(ngModel)]="registerModel.lastName" required>
    </div>
    <div class="form-container">
      <label for="email">Email:</label>
      <input class="form-input" type="email" id="email" name="email" [(ngModel)]="registerModel.email" required>
    </div>
    <div class="form-container">
      <label for="userName">User Name:</label>
      <input class="form-input" type="text" id="userName" name="userName" [(ngModel)]="registerModel.userName" required>
    </div>
    <div class="form-container">
      <label for="password">Password:</label>
      <input class="form-input" type="password" id="password" name="password" [(ngModel)]="registerModel.password" required>
    </div>
    <div class="form-container">
      <label for="confirmPassword">Confirm Password:</label>
      <input class="form-input" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="registerModel.confirmPassword" required>
    </div>
    <div class="form-container">

      <div>
        <button class="form-submit" (click)="createEmployee()">Register</button>
        <button class="form-submit" (click)="createAdmin()">Register as Admin</button>
        <button class="form-submit" (click)="createManager()">Register as Manager</button>
        <button class="cancel-button" [routerLink]="'/'">Cancel</button>

      </div>
    </div>
  </form>
</div>
