
<div class="login">
  <form name="login-form" novalidate class="login__form"  (ngSubmit)="onClick()">
    <div>
      <label class="form-label" for="email">Email:</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Email" id="email">
    </div>
    <div>
      <label class="form-label" for="password">Password:</label>
      <input class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="Password" id="password">
    </div>
    <div class="d-flex my-2 justify-content-around">
      <button (click)="redirectToReturnUrl()" class="btn mx-2 btn-outline-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
